.button {
  display: block;
  padding: 9px 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  outline: 0;

  &--color-green {
    color: $white;
    background-color: $basic-green;
    border-color: $basic-green;

    &:hover,
    &:focus {
      background-color: $special-green;
      border-color: $special-green;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $special-green;
      border-color: $special-green;
    }
  }

  &--color-grey {
    color: $basic-dark-grey;
    background-color: $basic-gray;
    border-color: $basic-gray;

    &:hover,
    &:focus {
      background-color: $special-gray-2;
      border-color: $special-gray-2;
    }

    &:active {
      color: rgba($basic-dark-grey, 0.3);
      background-color: $special-gray-2;
      border-color: $special-gray-2;
    }
  }
}
