.button {
  padding: 9px 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;

  &--color-green {
    color: #ffffff;
    background-color: #68b738;
    border-color: #68b738;
  }

  &--color-grey {
    color: #444444;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
  }
}
