.catalog-more__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.product-more__subtitle {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.product-more__info {
  font-family: $minor-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
