.catalog {
  margin: 27px auto;

  @media (min-width: $tablet-width) {
    margin: 54px auto;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin: 71px auto;
  }
}

.catalog__container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.catalog__title {
  margin-bottom: 40px;
  padding: 0 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 164px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 145px 80px;
  }
}

.catalog__item {
  min-height: 209px;
  padding: 0 20px 20px;
  border-top: 1px solid $special-gray-2;

  &:last-child {
    border-bottom: 1px solid $special-gray-2;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 430px;
    padding: 0;
    padding-bottom: 40px;
    background-color: $basic-gray;
    border: none;

    &:last-child {
      padding: 0 35px 40px;
      background: $white;
      border: 2px solid $basic-gray;
    }
  }
}
