.catalog-more {
  position: relative;
  margin: 28px 0 34px;

  @media (min-width: $tablet-width) {
    margin: 64px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 0 86px;
  }

  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 15px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}

.catalog-more__title {
  display: inline-block;
  margin-left: -20px;
  padding: 0 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.catalog-more__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 31px auto;

  @media (min-width: $tablet-width) {
    gap: 68px;
    margin: 78px auto 76px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 245px;
    gap: 80px;
    margin: 77px auto;
  }
}

.catalog-more__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;

  @media (min-width: $tablet-width) {
    border-right: 1px solid $special-gray;
    border-left: 1px solid $special-gray;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.catalog-more__item {
  padding: 13px 0 17px;
  border-bottom: 1px solid $special-gray;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 15px;
  }

  &:first-child {
    border-top: 1px solid $special-gray;
  }
}
