.example {
  padding: 27px 0 25px;
  background-color: $special-background-gray;

  @media (min-width: $tablet-width) {
    padding: 43px 0 33px;
    background: linear-gradient(to top, $special-background-gray 0, $special-background-gray 462px, $white 462px, $white 100%);
    border-top: 1px solid $basic-border;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-height: 667px;
    padding: 15px 0 54px;
    background: linear-gradient($white 0, $white 205px, $basic-gray 205px, $basic-gray 100%);
    border-top: none;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: calc(50% - 325px);
      height: 100%;
      background: linear-gradient($white 0, $white 205px, $special-background-gray 205px, $special-background-gray 100%);
    }
  }
}

.example__container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.example__wrapper {
  @media (max-width: $mobile-width-only) {
    padding: 0 20px;
  }
}

.example__title {
  margin-bottom: 33px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 54px;
    margin-bottom: 147px;
  }
}

.example__text {
  margin-bottom: 25px;
  margin-right: 1px;
  font-family: $minor-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 68px;
  }
}

.example__module-result {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
