.product {
  min-height: 208px;
  padding: 0 20px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 430px;
    padding: 0;
    padding-bottom: 40px;
  }
}

.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  &--larger {
    display: flex;
    flex-direction: column;
  }
}

.product__image-link {
  margin: auto;
  height: 144px;

  @media (min-width: $tablet-width) {
    height: auto;
    margin-top: -82px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -88px;
    margin-bottom: 36px;
  }
}

.product__description {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
    margin-bottom: 33px;
  }
}

.product__title {
  width: 80px;
  margin-bottom: 14px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin: 0 auto 16px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &--larger {
    width: auto;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      width: 135px;
      margin-bottom: 24px;
    }
  }
}

.product__title-link {
  color: $special-dark-grey-2;
  text-decoration: none;
}

.product__info {
  font-family: $minor-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  &--larger {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      width: 170px;
      margin-bottom: 85px;
      text-align: center;
    }
  }
}

.product__info-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 7px 0;
    border-bottom: 1px solid $special-gray;
  }
}

.product__button {
  @media (min-width: $tablet-width) {
    margin: 0 38px;
  }
}

.product__plus {
  width: 30px;
  height: 30px;
  margin: 26px 0 23px;
  fill: $icon-plus-color;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 46px;
  }
}
