.promo {
  position: relative;

  @media (min-width: $desktop-width) {
    min-height: 696px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 305px;
    background-color: $promo-background;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      left: 50%;
      width: 50%;
      height: 696px;
      background-color: $promo-background;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: right;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    align-items: flex-start;
  }
}

.promo__title {
  width: 250px;
  margin: 26px 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 415px;
    margin: 32px 88px 41px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin: 223px 80px 40px;
  }
}

.promo__subtitle {
  margin-bottom: 28px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0 88px 17px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px 52px;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 262px;
    left: 102px;
    width: 244px;
    height: 54px;
    margin-top: 0;
    padding: 15px 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 80px;
  }
}

.promo__image {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 141px;
    left: 468px;
  }
}
