.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__image-after {
  display: none;
}

.slider__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 40px;
  padding: 10px;
}

.slider__toggle-name {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
