.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 303px;

  @media (min-width: $tablet-width) {
    min-height: 598px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 16px;
    left: calc(50% - 45px);
  }

  &--before {
    .slider__image-before {
      clip-path: none;
    }

    .slider__image-after {
      display: none;
    }

    .slider__button-toggle::before {
      width: 6px;

      @media (min-width: $tablet-width) {
        width: 34px;
        left: -5px;
      }
    }
  }

  &--after {
    .slider__image-before {
      display: none;
    }

    .slider__image-after {
      clip-path: none;
    }

    .slider__button-toggle::before {
      width: 74px;

      @media (min-width: $tablet-width) {
        width: 34px;
        left: 397px;
      }
    }
  }
}

.slider__image {
  position: relative;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 521px;
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    margin-left: 0;
  }
}

.slider__image-before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);

  @media (min-width: $tablet-width) {
    left: 5px;
    clip-path: polygon(0% 0%, 48% 0%, 48% 100%, 0% 100%);
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(0% 0%, 53% 0%, 53% 100%, 0% 100%);
  }
}

.slider__image-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);

  @media (min-width: $tablet-width) {
    left: 5px;
    clip-path: polygon(48% 0%, 100% 0%, 100% 100%, 48% 100%);
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(53% 0%, 100% 0%, 100% 100%, 53% 100%);
  }
}

.slider__toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 197px;
  height: 40px;
  margin-top: auto;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    width: 570px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
    margin-left: 51px;
  }
}

.slider__button {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted rgba($black, 0.24);
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba($black, 0.4);
  }

  &:active {
    border: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider__button-toggle {
  position: relative;
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  background-color: $white;
  border: 1px solid $special-gray;
  border-radius: 6px;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    padding: 0;
    background-color: $special-gray;

    &:hover::before,
    &:focus::before {
      filter: drop-shadow(0 2px 4px rgba($black, 0.19));
    }

    &:active::before {
      border: 1px solid $basic-green;
      filter: drop-shadow(0 3px 5px rgba($black, 0.2));
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 4px;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 6px;

    @media (min-width: $tablet-width) {
      top: -15px;
      left: 198px;
      width: 34px;
      height: 34px;
      padding: 0;
      background-color: $basic-green;
      border: 1px solid $special-gray;
      border-radius: 50%;
      filter: drop-shadow(0 1px 3px rgba($black, 0.16));
      box-shadow: inset 0 0 0 12px $white;
    }
  }
}
