// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Fonts

$main-font: "Oswald", "Arial", sans-serif;
$minor-font: "Arial", sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$special-green: #5eaa2f;
$basic-gray: #f2f2f2;
$special-gray: #cdcdcd;
$special-gray-2: #ebebeb;
$special-background-gray: #eaeaea;
$special-light-gray: #bababa;
$basic-dark-grey: #444444;
$basic-dark-grey-2: #666666;
$special-dark-grey: #111111;
$special-dark-grey-2: #222222;
$status-error: #ff8282;
$basic-border: #e6e6e6;
$special-border: #d9d9d9;
$input-border: #e7e7e7;
$icon-plus-color: #d3d3d3;
