.field-text {
  position: relative;
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field-text__input {
  flex-grow: 1;
  height: 45px;
  margin-left: 12px;
  padding: 13px 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
  border: 1px solid $input-border;
  outline: none;

  &--сontact-details {
    padding-right: 48px;
  }

  &:hover {
    border: 1px solid $special-gray;
  }

  &:focus {
    border: 2px solid $basic-dark-grey;
  }

  &:focus + .field-text__icon {
    fill: $basic-green;
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid $status-error;
  }

  &:invalid:not(:placeholder-shown) + .field-text__icon {
    fill: $status-error;
  }

  &::placeholder {
    color: $basic-dark-grey;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.field-text__icon {
  position: absolute;

  &--mail {
    top: 17px;
    right: 16px;
    width: 18px;
    height: 13px;
    fill: $special-dark-grey-2;

    @media (min-width: $tablet-width) {
      top: 19px;
    }
  }

  &--phone {
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
    fill: $black;

    @media (min-width: $tablet-width) {
      top: 16px;
    }
  }
}

.field-text__textarea {
  width: 100%;
  min-height: 150px;
  padding: 13px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
  border: 1px solid $input-border;
  resize: none;
  outline: none;

  &:hover {
    border: 1px solid $special-gray;
  }

  &:focus {
    border: 2px solid $basic-dark-grey;
  }

  &::placeholder {
    color: $basic-dark-grey;
  }

  @media (min-width: $tablet-width) {
    min-height: 174px;
    margin: 19px 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 19px 0;
  }
}
