.radio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin: 0 -20px;
  padding: 20px 20px;
  list-style: none;
  border-top: 1px solid $special-border;
  border-bottom: 1px solid $special-border;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 25px 28px;
    border: 1px solid $input-border;
  }
}

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 33px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 40px;
    padding-left: 47px;
    font-size: 20px;
    line-height: 30px;
  }
}

.radio__input {
  opacity: 0;

  & + .radio__name::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-gray;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  & + .radio__name:hover::before,
  & + .radio__name:focus::before {
    border: 1px solid $special-light-gray;
  }

  &:checked + .radio__name::before {
    background-color: $basic-green;
    box-shadow: inset 0 0 0 8px $white;

    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 10px $white;
    }
  }
}
