.radio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  margin: 0 -20px;
  padding: 20px 20px;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 46px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    height: 40px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.radio__input {
  display: none;

  & + .radio__name::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:checked + .radio__name::before {
    background-color: #68b738;
    box-shadow: inset 0 0 0 8px #ffffff;

    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 10px #ffffff;
    }
  }
}
