.nav {
  background-color: $white;

  @media (max-width: $mobile-width-only) {
    &--closed {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
    max-width: 610px;
  }
}

.nav__item {
  width: 100%;
  padding: 22px 0 23px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $basic-border;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: 35px;
    padding: 7px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--active {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-green;
    }
  }

  &--active-index {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $white;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: $black;

  &--index {
    @media (min-width: $desktop-width) {
      color: $white;
    }
  }
}
