.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__name {
  font-family: $minor-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
