.footer {
  background-color: $basic-gray;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 149px;
  }
}

.footer__logo {
  display: block;
  padding: 40px 0 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
    padding: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
