.footer {
  background-color: #f2f2f2;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding-bottom: 5px;
  }
}

.footer__logo {
  display: block;
  padding: 40px 0 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__social {
  padding: 22px 0 17px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}
