.footer {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

.footer__logo {
  display: block;
  padding: 39px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
