.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 22px 0 17px;
  border-top: 1px solid $special-border;
  border-bottom: 1px solid $special-border;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__item {
  padding-left: 16px;
  padding-right: 19px;

  @media (min-width: $tablet-width) {
    padding-left: 14px;
    padding-right: 15px;
  }
}

.social__icon {
  fill: $basic-dark-grey-2;

  &:hover,
  &:focus {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }

  &--vkontakte {
    width: 23px;
    height: 13px;

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 22px;
    height: 19px;

    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }
}
