.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.social__link {
  fill: #666666;

  &--vkontakte svg {
    width: 23px;
    height: 13px;

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--instagram svg {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook svg {
    width: 22px;
    height: 19px;

    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }
}
